body 
{
		margin: 0px 0px 0px 0px;
		padding: 0px;
		font-size: 12px;
		font-family: 'Lucida Grande', Verdana, sans-serif;
		font-weight: bold;
		background-color:white;    	
		/* Turn off font resizing */
		-webkit-text-size-adjust: none;   
        /* Supposed to turn off copy, doesn't work. */
        -webkit-user-select: none;
        /* Turn off image saving, works. */
        -webkit-touch-callout: none;
}

#imageDiv
{
/*		width: 640px;  */
		width: 630;
		margin: 2px;
		padding:2px;
}

/* This div holds 5 canvas elements */
#gaugesDiv{
		height: 126px;
		width: 630px;
		margin: 2px;
		padding:2px;
		background: rgb(200,200,200);
		border: 2px solid black;

		/* Round each corner of the generated rectangle */
		border-radius: 8px;
		-moz-border-radius: 8px;   
		-webkit-border-radius: 8px;   
}

/* The canvas elements are class s1 */
.s1{
/*		Do not change size of canvas with CSS, it screws up the aspect ratio 
		height: 118px;
		width:118px;  */
		background: rgb(255,255,255);
		margin: 2px;
		border-radius: 8px;
		border: 2px solid black; 
		float: left;   
}


/* The status line is id="stat" so it can be styled individually */
#status
{
		text-align: center;	
		width: 630px;
		height: 30px;
		margin: 2px;
		padding: 2px;
		font-family: Fixed, monospace;
		font-size: 22px;
        background: rgb(200,200,200);
		
		/* Draw a rectangle around a text */
		border: 2px solid black;    
		
		/* Round each corner of the generated rectangle */
		border-radius: 8px;
		-moz-border-radius: 8px;   
		-webkit-border-radius: 8px;   
}                
#keysDiv
{
		width: 630px;
		height:220px;
		margin: 2px;
		padding:2px;

		background:#dddddd;
		border-radius: 8px;
		-moz-border-radius: 8px;   
		-webkit-border-radius: 8px;   
		border: 2px solid black;    

}

/* the regular popup menus */
.popupDiv
{
		position:absolute;
		top:0px;
		left:0px;  
		width: 630px;
		height:220px;
		margin: 2px;
		padding:2px;
		visibility:hidden;
        background:#cccccc;
		
		border-radius: 8px;
		-moz-border-radius: 8px;   
		-webkit-border-radius: 8px;   
		border: 2px solid black;    

}
/* the image popup menu */
.popupDiv2
{
		position:absolute;
		top:10px;
		left:4px;
		width: 630px;
		height:140px;
		margin: 2px;
		padding:2px;
		visibility:hidden;
        background:#cccccc;
		
		border-radius: 8px;
		-moz-border-radius: 8px;   
		-webkit-border-radius: 8px;   
        
}

/* the special drive popup menu */
.popupDiv3
{
		position:absolute;
		top:0px;
		left:0px;  
		width: 630px;
		height:220px;
		margin: 2px;
		padding:2px;
		visibility:hidden;
        background:#cccccc;
		
		border-radius: 8px;
		-moz-border-radius: 8px;   
		-webkit-border-radius: 8px;   
		border: 2px solid black;    

}
/* canvas 6 the turn speed index */
.tsi{
		background: rgb(255,255,255);
		margin: 2px;
		border-radius: 8px;
		border: 2px solid black; 
		float: left;   
	
}
/* canvas 7 the forward speed index */	
.fsi{	
		background: rgb(255,255,255);
		margin: 2px;
		border-radius: 8px;
		border: 2px solid black; 
		float: right;   
	}
/* small button, used on the Drive menu */
 .sm-button    
{
		font-weight: bold;
		text-align: center;
		font-size: 18px;
		
		width:70px;
		height: 44px;
		margin: 2px;
		padding: 2px;
		float: right;

		/* text is white on the button */
		color: black;	
		background: #FFFFFF;
	
		/* Draw a rectangle around a text */
		border: 2px solid black;    
		
		/* Round each corner of the generated rectangle */
		border-radius: 8px;
		-moz-border-radius: 8px;   
		-webkit-border-radius: 8px;   

		
}
.popupLabel{
		width: 630;
		margin:0px;
		font-size: 16px;
		font-family: 'Lucida Grande', Verdana, sans-serif;
		font-weight: italic;
		text-align: center;	
		color:#101010;
		clear:both;
}		
		

/* Draw a rounded rectangle around a text */
 .button    
{
		font-weight: bold;
		text-align: center;
		font-size: 18px;
		
		width:90%;
		height: 44px;
		margin: 2px;
		padding: 2px;

		/* text is white on the button */
		color: black;	
		background: #FFFFFF;
	
		/* Draw a rectangle around a text */
		border: 2px solid black;    
		
		/* Round each corner of the generated rectangle */
		border-radius: 8px;
		-moz-border-radius: 8px;   
		-webkit-border-radius: 8px;   

		
}

/* Draw a blank button same color as background keysdiv */
 .button3    
{
		font-weight: bold;
		text-align: center;
		font-size: 18px;
		
		width:90%;
		height: 44px;
		margin: 4px;
		padding: 2px;

		color: black;	
		background:#dddddd;
	
		/* Draw a rectangle around a text */
		/*border: 2px solid black;*/    
		
		/* Round each corner of the generated rectangle */
		border-radius: 8px;
		-moz-border-radius: 8px;   
		-webkit-border-radius: 8px;   

		
}

/* Draw a narrow blank button same color as background keysdiv */
 .button4    
{
		font-weight: bold;
		text-align: center;
		font-size: 18px;
		
		width:80%;
		height: 44px;
		margin: 4px;
		padding: 2px;

		color: black;	
		background:#dddddd;
	
		/* Draw a rectangle around a text */
		/*border: 2px solid black;*/    
		
		/* Round each corner of the generated rectangle */
		border-radius: 8px;
		-moz-border-radius: 8px;   
		-webkit-border-radius: 8px;   

		
}

/* Draw narrow button */
 .button2    
{
		font-weight: bold;
		text-align: center;
		font-size: 18px;
		
		width:80%;
		height: 44px;
		margin: 2px;
		padding: 2px;

		/* text is white on the button */
		color: black;	
		background: #FFFFFF;
	
		/* Draw a rectangle around a text */
		border: 2px solid black;    
		
		/* Round each corner of the generated rectangle */
		border-radius: 8px;
		-moz-border-radius: 8px;   
		-webkit-border-radius: 8px;   

		
}


/* Collapse button columns into a class */
.cButton{
                float: left;
                width: 126px;
}

/* Narrow button column 2/3*/
.cButton2{
                float: left;
                width: 84px;
}


